body {
    background: #ffdc77;
    text-align: center;
}

h1 {
    background:#74feff;
    color:green;
    font-family: "Lucida Handwriting";
    text-align:center;
    
}
div {
    width: 400px;
    margin: auto;
}

.list {
    background: #fafddd;
    padding: 20px;
}

li {
    list-style: none;
}